body {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    background: linear-gradient(to bottom right, rgb(85, 184, 214), rgb(219, 96, 96));
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center; 
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    width: 100%;
}

h3 {
    font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.01em;
}